*{
    margin: 0;
    padding: 0;
}


.container{
    background-image: url("./image/mountain.jpg.jpg");
    background-size: cover;
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 700px;

}


.login-form{
    margin-top: 20px;
    justify-content: center;
    background-color: rgba(255,255,255, 0.7);
    padding: 10px;
    width: 400px;
    border-radius: 5px;
}

.flex-input{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-radius: 10px;
}
.heading{
    margin-bottom: 10px;
}

input{
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border: none;
}

label{
    flex-basis: 130px;
    margin-top: 10px;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #06bfc2;
    margin: 20px 0;
}
button:hover{
    cursor: pointer;
    background-color:rgba(9, 89, 121, 0.7);
}

@media all and (max-width:480px){
    .flex-input{
        display: flex;
        flex-direction: column;
    }
    label{
        flex-basis: 0;
    }
}